In [369]:
from scipy.io import arff 
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import accuracy_score, confusion_matrix 
from sklearn.neighbors import KNeighborsClassifier as KNC
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier 
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.exceptions import ConvergenceWarning
from sklearn.cluster import KMeans

In [370]:
import os
DATA_PATH = os.path.join("datasets", "user")
csv_path = os.path.join(DATA_PATH, "users.csv")
csv1_path = os.path.join(DATA_PATH,"fusers.csv")

In [371]:
fuser_data = pd.read_csv(csv1_path)
guser_data = pd.read_csv(csv_path)
df = pd.DataFrame(guser_data)
df1 = pd.DataFrame(fuser_data)

In [372]:
guser_data.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset
0,3610511,Davide Dellacasa,braddd,20370,5470,2385,145,52,Fri Apr 06 10:58:22 +0000 2007,http://braddd.tumblr.com,...,FFF7CC,http://a0.twimg.com/profile_background_images/...,BADFCD,FF0000,3600.0,NaN,NaN,Founder of http://www.screenweek.it & http://w...,2015-02-14 10:54:49,E13
1,5656162,Simone Economo,eKoeS,3131,506,381,9,40,Mon Apr 30 15:08:42 +0000 2007,http://www.lineheight.net/,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,3600.0,NaN,NaN,BSc degree (cum laude) in Computer Engineering...,2015-02-14 10:54:49,E13
2,5682702,tacone,tacone_,4024,264,87,323,16,Tue May 01 11:53:40 +0000 2007,http://t.co/LKrl1dZE,...,000000,http://a0.twimg.com/profile_background_images/...,1A1B1F,2FC2EF,3600.0,NaN,NaN,Cogito ergo bestemmio.,2015-02-14 10:54:49,E13
3,6067292,alesaura,alesstar,40586,640,622,1118,32,Tue May 15 16:55:16 +0000 2007,http://alesstar.wordpress.com/,...,95E8EC,http://a0.twimg.com/images/themes/theme4/bg.gif,0099B9,0099B9,3600.0,NaN,NaN,"Se la vita ti dà sarde, scapocciale!",2015-02-14 10:54:49,E13
4,6015122,Angelo,PerDiletto,2016,62,64,13,0,Sun May 13 19:52:00 +0000 2007,http://www.flickr.com/per_diletto,...,F6F6F6,http://a0.twimg.com/images/themes/theme18/bg.gif,ACDED6,038543,3600.0,NaN,NaN,Je me souviens,2015-02-14 10:54:49,E13

In [373]:
guser_data.describe()

,id,statuses_count,followers_count,friends_count,favourites_count,listed_count,default_profile,default_profile_image,geo_enabled,profile_use_background_image,profile_background_tile,utc_offset,protected,verified
count,1.481000e+03,1481.000000,1481.000000,1481.000000,1481.000000,1481.000000,397.0,4.0,719.0,1423.0,486.0,1063.000000,0.0,0.0
mean,4.000432e+08,3140.782579,690.922350,403.128292,439.611749,5.360567,1.0,1.0,1.0,1.0,1.0,1535.841957,NaN,NaN
std,2.961304e+08,6391.957957,11058.508986,610.572368,1970.556008,32.183232,0.0,0.0,0.0,0.0,0.0,7805.690161,NaN,NaN
min,3.610511e+06,3.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0,1.0,1.0,-39600.000000,NaN,NaN
25%,1.572905e+08,315.000000,45.000000,115.000000,4.000000,0.000000,1.0,1.0,1.0,1.0,1.0,3600.000000,NaN,NaN
50%,3.822478e+08,992.000000,102.000000,226.000000,29.000000,1.000000,1.0,1.0,1.0,1.0,1.0,3600.000000,NaN,NaN
75%,5.229255e+08,3029.000000,259.000000,437.000000,176.000000,2.000000,1.0,1.0,1.0,1.0,1.0,3600.000000,NaN,NaN
max,1.219743e+09,79876.000000,408372.000000,12773.000000,44349.000000,744.000000,1.0,1.0,1.0,1.0,1.0,36000.000000,NaN,NaN

In [374]:
fuser_data.shape

(1337, 34)

In [375]:
guser_data.shape

(1481, 34)

In [376]:
isNotFake = np.zeros(1481)
isFake = np.ones(1337)

In [377]:
fuser_data["isFake"] = isFake
guser_data["isNotFake"] = isNotFake

In [378]:
guser_data.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset,isNotFake
0,3610511,Davide Dellacasa,braddd,20370,5470,2385,145,52,Fri Apr 06 10:58:22 +0000 2007,http://braddd.tumblr.com,...,http://a0.twimg.com/profile_background_images/...,BADFCD,FF0000,3600.0,NaN,NaN,Founder of http://www.screenweek.it & http://w...,2015-02-14 10:54:49,E13,0.0
1,5656162,Simone Economo,eKoeS,3131,506,381,9,40,Mon Apr 30 15:08:42 +0000 2007,http://www.lineheight.net/,...,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,3600.0,NaN,NaN,BSc degree (cum laude) in Computer Engineering...,2015-02-14 10:54:49,E13,0.0
2,5682702,tacone,tacone_,4024,264,87,323,16,Tue May 01 11:53:40 +0000 2007,http://t.co/LKrl1dZE,...,http://a0.twimg.com/profile_background_images/...,1A1B1F,2FC2EF,3600.0,NaN,NaN,Cogito ergo bestemmio.,2015-02-14 10:54:49,E13,0.0
3,6067292,alesaura,alesstar,40586,640,622,1118,32,Tue May 15 16:55:16 +0000 2007,http://alesstar.wordpress.com/,...,http://a0.twimg.com/images/themes/theme4/bg.gif,0099B9,0099B9,3600.0,NaN,NaN,"Se la vita ti dà sarde, scapocciale!",2015-02-14 10:54:49,E13,0.0
4,6015122,Angelo,PerDiletto,2016,62,64,13,0,Sun May 13 19:52:00 +0000 2007,http://www.flickr.com/per_diletto,...,http://a0.twimg.com/images/themes/theme18/bg.gif,ACDED6,038543,3600.0,NaN,NaN,Je me souviens,2015-02-14 10:54:49,E13,0.0

In [379]:
fuser_data['default_profile']

0       NaN
1       1.0
2       NaN
3       NaN
4       1.0
       ...
1332    1.0
1333    1.0
1334    1.0
1335    1.0
1336    1.0
Name: default_profile, Length: 1337, dtype: float64

In [380]:
tot_data = pd.concat([fuser_data,guser_data], ignore_index=True)
tot_data.columns = tot_data.columns.str.strip()

In [381]:


def split_train_test(data, test_ratio):
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data)*test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [382]:
from zlib import crc32

def test_set_check(identifier, test_ratio):
    return crc32(np.int64(identifier)) & 0xffffffff < test_ratio * 2**32

In [383]:
df2 = pd.DataFrame(tot_data)
df2 = df2.rename(columns={'id':'userid'})

In [384]:
tot_data['isFake'] = tot_data['isFake'].fillna(0)
tot_data['isNotFake'] = tot_data['isNotFake'].fillna(0)

In [385]:
y = tot_data.isFake

tot_data.drop(['isFake'],axis=1,inplace=True)


X = tot_data

In [386]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2818 entries, 0 to 2817
Data columns (total 35 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  2818 non-null   int64
 1   name                                2818 non-null   object
 2   screen_name                         2818 non-null   object
 3   statuses_count                      2818 non-null   int64
 4   followers_count                     2818 non-null   int64
 5   friends_count                       2818 non-null   int64
 6   favourites_count                    2818 non-null   int64
 7   listed_count                        2818 non-null   int64
 8   created_at                          2818 non-null   object
 9   url                                 463 non-null    object
 10  lang                                2818 non-null   object
 11  time_zone                           1069 non-null   object
 12  location                            2271 non-null   object
 13  default_profile                     1728 non-null   float64
 14  default_profile_image               8 non-null      float64
 15  geo_enabled                         721 non-null    float64
 16  profile_image_url                   2818 non-null   object
 17  profile_banner_url                  987 non-null    object
 18  profile_use_background_image        2760 non-null   float64
 19  profile_background_image_url_https  2818 non-null   object
 20  profile_text_color                  2818 non-null   object
 21  profile_image_url_https             2818 non-null   object
 22  profile_sidebar_border_color        2818 non-null   object
 23  profile_background_tile             489 non-null    float64
 24  profile_sidebar_fill_color          2818 non-null   object
 25  profile_background_image_url        2818 non-null   object
 26  profile_background_color            2818 non-null   object
 27  profile_link_color                  2818 non-null   object
 28  utc_offset                          1069 non-null   float64
 29  protected                           0 non-null      float64
 30  verified                            0 non-null      float64
 31  description                         2547 non-null   object
 32  updated                             2818 non-null   object
 33  dataset                             2818 non-null   object
 34  isNotFake                           2818 non-null   float64
dtypes: float64(9), int64(6), object(20)
memory usage: 770.7+ KB

In [387]:
lang_list = list(enumerate(np.unique(X['lang'])))
lang_dict = {name : i for i, name in lang_list}
X.loc[:, 'lang_num'] = X['lang'].map(lambda x: lang_dict[x]).astype(int)

X.drop(['name'], axis=1, inplace=True)

In [388]:
tot_data.head()
tot_data.columns

Index(['id', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'created_at',
       'url', 'lang', 'time_zone', 'location', 'default_profile',
       'default_profile_image', 'geo_enabled', 'profile_image_url',
       'profile_banner_url', 'profile_use_background_image',
       'profile_background_image_url_https', 'profile_text_color',
       'profile_image_url_https', 'profile_sidebar_border_color',
       'profile_background_tile', 'profile_sidebar_fill_color',
       'profile_background_image_url', 'profile_background_color',
       'profile_link_color', 'utc_offset', 'protected', 'verified',
       'description', 'updated', 'dataset', 'isNotFake', 'lang_num'],
      dtype='object')

In [389]:
def split_train_test_by_id(data, test_ratio, id_column):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_ : test_set_check(id_, test_ratio))
    return data.loc[~in_test_set], data.loc[in_test_set]

In [390]:
X = X[[
    'statuses_count',
    'followers_count',
    'friends_count',
    'favourites_count',
    'default_profile',
    'geo_enabled',
    'lang_num',
    'listed_count',
    'verified',
    'profile_use_background_image'
]]

In [391]:
X = X.replace(np.nan, 0)

In [392]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2818 entries, 0 to 2817
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   statuses_count                2818 non-null   int64
 1   followers_count               2818 non-null   int64
 2   friends_count                 2818 non-null   int64
 3   favourites_count              2818 non-null   int64
 4   default_profile               2818 non-null   float64
 5   geo_enabled                   2818 non-null   float64
 6   lang_num                      2818 non-null   int32
 7   listed_count                  2818 non-null   int64
 8   verified                      2818 non-null   float64
 9   profile_use_background_image  2818 non-null   float64
dtypes: float64(4), int32(1), int64(5)
memory usage: 209.3 KB

In [393]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2818 entries, 0 to 2817
Series name: isFake
Non-Null Count  Dtype
--------------  -----
2818 non-null   float64
dtypes: float64(1)
memory usage: 22.1 KB

In [394]:
train_X, test_X, train_y, test_y = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)
train_X, val_X, train_y, val_y = train_test_split(train_X, train_y, train_size=0.8, test_size=0.2, random_state=0)

In [395]:
print(train_X.shape)
print(train_y.shape)
print(test_X.shape)
print(test_y.shape)

(1803, 10)
(1803,)
(564, 10)
(564,)

ML model

In [396]:
import tensorflow as tf
from tensorflow import keras

In [397]:
tf.keras

In [398]:
model = keras.models.Sequential()
model.add(keras.layers.Dense(32, activation = 'relu', input_dim = 10))
model.add(keras.layers.Dense(64, activation = 'relu', input_dim = 32))
model.add(keras.layers.Dense(64, activation = 'relu', input_dim = 64))
model.add(keras.layers.Dense(32, activation = 'relu', input_dim = 64))
model.add(keras.layers.Dense(1, activation = 'sigmoid'))
model.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_48 (Dense)            (None, 32)                352

 dense_49 (Dense)            (None, 64)                2112

 dense_50 (Dense)            (None, 64)                4160

 dense_51 (Dense)            (None, 32)                2080

 dense_52 (Dense)            (None, 1)                 33

=================================================================
Total params: 8737 (34.13 KB)
Trainable params: 8737 (34.13 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [399]:
model.compile(optimizer='adam',
    loss = 'binary_crossentropy',
    metrics=['accuracy']
)

In [400]:
history = model.fit(train_X,train_y,epochs=16,verbose=1,validation_data=(val_X,val_y))

Epoch 1/16
57/57 [==============================] - 1s 7ms/step - loss: 0.8134 - accuracy: 0.9667 - val_loss: 0.7016 - val_accuracy: 0.9823
Epoch 2/16
57/57 [==============================] - 0s 2ms/step - loss: 0.1825 - accuracy: 0.9717 - val_loss: 1.1890 - val_accuracy: 0.9800
Epoch 3/16
57/57 [==============================] - 0s 3ms/step - loss: 0.6359 - accuracy: 0.9900 - val_loss: 1.1332 - val_accuracy: 0.9667
Epoch 4/16
 1/57 [..............................] - ETA: 0s - loss: 0.0994 - accuracy: 0.968857/57 [==============================] - 0s 3ms/step - loss: 0.2632 - accuracy: 0.9928 - val_loss: 0.3887 - val_accuracy: 0.9778
Epoch 5/16
57/57 [==============================] - 0s 2ms/step - loss: 0.1628 - accuracy: 0.9850 - val_loss: 0.1133 - val_accuracy: 0.9823
Epoch 6/16
57/57 [==============================] - 0s 2ms/step - loss: 0.0831 - accuracy: 0.9789 - val_loss: 0.7844 - val_accuracy: 0.9823
Epoch 7/16
57/57 [==============================] - 0s 3ms/step - loss: 0.3260 - accuracy: 0.9945 - val_loss: 0.6151 - val_accuracy: 0.9800
Epoch 8/16
57/57 [==============================] - 0s 3ms/step - loss: 0.3530 - accuracy: 0.9617 - val_loss: 1.2857 - val_accuracy: 0.9800
Epoch 9/16
57/57 [==============================] - 0s 3ms/step - loss: 0.6192 - accuracy: 0.9861 - val_loss: 1.1848 - val_accuracy: 0.9800
Epoch 10/16
57/57 [==============================] - 0s 5ms/step - loss: 0.3998 - accuracy: 0.9933 - val_loss: 0.6906 - val_accuracy: 0.9823
Epoch 11/16
57/57 [==============================] - 0s 4ms/step - loss: 0.2057 - accuracy: 0.9950 - val_loss: 0.2934 - val_accuracy: 0.9800
Epoch 12/16
57/57 [==============================] - 0s 5ms/step - loss: 0.0936 - accuracy: 0.9933 - val_loss: 0.1233 - val_accuracy: 0.9845
Epoch 13/16
57/57 [==============================] - 0s 6ms/step - loss: 0.0487 - accuracy: 0.9933 - val_loss: 0.0679 - val_accuracy: 0.9933
Epoch 14/16
57/57 [==============================] - 0s 5ms/step - loss: 0.0268 - accuracy: 0.9939 - val_loss: 0.0746 - val_accuracy: 0.9911
Epoch 15/16
57/57 [==============================] - 0s 5ms/step - loss: 0.0213 - accuracy: 0.9967 - val_loss: 0.1101 - val_accuracy: 0.9911
Epoch 16/16
57/57 [==============================] - 0s 3ms/step - loss: 0.0225 - accuracy: 0.9967 - val_loss: 0.1042 - val_accuracy: 0.9889

In [401]:
score = model.evaluate(test_X,test_y,verbose=0)
print('Test loss',score[0])
print('Test Accuracy',score[1])

Test loss 0.07303205877542496
Test Accuracy 0.9929078221321106

In [402]:
x_new = test_X[:3]
y_proba = model.predict(x_new)
y_proba.round(2)

1/1 [==============================] - 0s 89ms/step

array([[0.],
       [1.],
       [1.]], dtype=float32)

In [403]:
X.head()

,statuses_count,followers_count,friends_count,favourites_count,default_profile,geo_enabled,lang_num,listed_count,verified,profile_use_background_image
0,24,4,588,16,0.0,0.0,1,0,0.0,1.0
1,656,57,693,597,1.0,0.0,1,0,0.0,1.0
2,1234,15,104,1150,0.0,1.0,1,0,0.0,1.0
3,573,14,227,530,0.0,0.0,1,0,0.0,1.0
4,675,18,519,653,1.0,0.0,1,0,0.0,1.0

In [404]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2818 entries, 0 to 2817
Series name: isFake
Non-Null Count  Dtype
--------------  -----
2818 non-null   float64
dtypes: float64(1)
memory usage: 22.1 KB